<h2>Show player</h2>

<ul>

  <li>
    <strong>Name:</strong>
    <%= @player.name %>
  </li>

  <li>
    <strong>Team:</strong>
    <%= @player.team %>
  </li>

  <li>
    <strong>Position:</strong>
    <%= @player.position %>
  </li>

</ul>

<%= link "Edit", to: player_path(@conn, :edit, @player) %>
<%= link "Back", to: player_path(@conn, :index) %>
